@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');

h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 10%;
}

.container {
  margin-top: 6%;
  color: white;
  font-size: 18px;
  justify-content: center;
  width: 50%;
}

.jumbotron {
  background: #191921;
  border: 2px solid white;
  margin-left: 25%;
}

.btn-primary {
  background: #739F95;
  border: 2px solid white;
}

.form-group label {
  margin-top: 10px;
}

.btn-primary {
  margin-top: 10px;
}

.btn-primary {
  margin-top: 10px;
}
